.content-meta {
  margin-top: 10;
  color: var(--gray);
  display:inline-block;

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
